@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Comfortaa:wght@300..700&display=swap");
:root {
  --col-light-green: #00caa5;
  --col-dark-green: #148472;
  --col-light-gray: #f1f2ef;
  --col-dark-gray: #cbcbcb;
  --col-black: #1f202a;
  --col-purple: #837ebf;
  --col-purple-hover: #6159c2;

  --font-title: "Comfortaa";
  --font-form: "Arimo";

  --breakpoint-tablet: 1280px;
  --breakpoint-mobile: 640px;
  --breakpoint-fold: "nique, salut jordan 😁";
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Comfortaa";
}
html {
  overflow-x: hidden;

  position: relative;
  vertical-align: top;
  /* background-color: #1f202a; */
}
a {
  color: black;
  text-decoration: none;
}
body {
  background-image: url("../src/assets/images/paw.png");
}

@keyframes left-right {
  0% {
    transform: translateX(0);
    /* background-color: white; */
  }
  50% {
    transform: translateX(5px);
    /* background-color: green; */
  }
  100% {
    transform: translateX(0);
    /* background-color: white; */
  }
}
@keyframes right-left {
  0% {
    transform: translateX(0);
    /* background-color: white; */
  }
  50% {
    transform: translateX(-5px);
    /* background-color: green; */
  }
  100% {
    transform: translateX(0);
    /* background-color: white; */
  }
}
